- program_players ||= []
- if program_players.present?
  %div{:class => 'hungry_programs', :style => 'margin-top: 50px;'}
    %h1.handwriting Hungry programs
    %div#my_program_grid
      - @now_playing.each do |program_player|
        %div.my_program_grid_item
          - if !program_player.needs_to_play_at or program_player.needs_to_play_at > Time.now.utc
            %div{:class => "status_dot green_status_dot"} &nbsp;
          - elsif program_player.needs_to_play_at > (Time.now.utc-2.days)
            %div{:class => "status_dot yellow_status_dot"} &nbsp;            
          - else
            %div{:class => "status_dot red_status_dot"} &nbsp;
          = link_to image_tag(program_player.program.photo(:small), {:class => 'rounded-img'}), {:controller => :play, :action => :program, :id => program_player.program_id}, {:class => :noajax}
          %div.program_grid_name
            = program_player.program.name
- else
  =button "Browse programs",{:protocol => 'https://', :host => SECURE_DOMAIN, :controller => :store, :action => :index},{'data-transition' => 'fade'}
