%p
  = link_to 'Packs', scaffold_packs_path  
  |
  = link_to 'New Pack', new_scaffold_pack_path  
  |
  = link_to 'Traits', scaffold_traits_path 
  |
  = link_to 'New Trait', new_scaffold_trait_path
